<section>
    <input
        type="number"
        (ngModelChange)="onInputChange($event)"
        [ngModel]="value"
        [disabled]="disabled"
    />

    <nouislider
        [connect]="[true,false]"
        [min]="0"
        [max]="100"
        [step]="1"
        [config]="sliderConfig"
        [ngModel]="sliderValue"
        (slide)="onSliderChange($event)"
        [disabled]="disabled"
    ></nouislider>

    <input
        type="checkbox"
        [(ngModel)]="disabled"
    />
</section>
